form(action='/api/add_product')
	Product name
	input(type="text" name="name")
	Description
	textarea(name="description")
	Price
	input(type="text" name="price")
	
	input(type="submit")

ul
	each product in products
		li=product.name